<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<!--    <test verbose="2" preserve-order="true" name="MainPageTests">-->
<!--        <classes>-->
<!--            <class name="firstSEI.MainPageTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test verbose="2" preserve-order="true" name="GooglePlayHomeTests">-->
<!--        <classes>-->
<!--            <class name="firstSEI.GooglePlayHomeTests"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test verbose="2" preserve-order="true" name="GooglePlayGamesTests">
        <classes>
            <class name="firstSEI.GooglePlayGamesTests"/>
        </classes>
    </test>

</suite>