<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="firstSEI.Resources.Listeners"/>
        <listener class-name="firstSEI.Resources.ExtentReporterNG"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="MainPageTests">
        <classes>
            <class name="firstSEI.MainPageTests"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="GooglePlayHomeTests">
        <classes>
            <class name="firstSEI.GoogleApps.GooglePlayHomeTests"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="GooglePlayGamesTests">
        <classes>
            <class name="firstSEI.GoogleApps.GooglePlayGamesTests"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="GooglePlaySettingsTests">
        <classes>
            <class name="firstSEI.GoogleApps.GooglePlaySettingsTests"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="ParentalControlsPageTests">
        <classes>
            <class name="firstSEI.GoogleApps.SettingsPages.ParentalControlsPageTest"/>
        </classes>
    </test>

</suite>